name: Agent/Reason End-to-End Tests

on:
  workflow_call:

jobs:
  reason-qwen-grpo-test:
    runs-on: reason
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create reason environment
        run: |
          unset UV_DEFAULT_INDEX
          export UV_PATH=/workspace/dataset/.uv
          export UV_LINK_MODE=symlink
          export UV_CACHE_DIR=/workspace/dataset/.uv_cache
          export UV_PYTHON_INSTALL_DIR=/workspace/dataset/.uv_python
          export MEGATRON_PATH=/workspace/dataset/Megatron-LM
          bash requirements/install.sh reason

      - name: Megatron SGLang Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-collocated-mg-sgl

      - name: Megatron vLLM Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-collocated-mg-vllm

      - name: Megatron SGLang Pipeline mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-pipeline-mg-sgl

      - name: Megatron vLLM Pipeline mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-pipeline-mg-vllm

      - name: FSDP SGLang Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-collocated-fsdp-sgl

      - name: FSDP vLLM Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-collocated-fsdp-vllm

      - name: FSDP SGLang Pipeline mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-pipeline-fsdp-sgl

      - name: FSDP vLLM Pipeline mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-pipeline-fsdp-vllm

      - name: Clean up
        run: |
          rm -rf .venv
          uv cache prune


  reason-qwen-grpo-test-rollout-logprobs:
    runs-on: reason
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create reason environment
        run: |
          unset UV_DEFAULT_INDEX
          export UV_PATH=/workspace/dataset/.uv
          export UV_LINK_MODE=symlink
          export UV_CACHE_DIR=/workspace/dataset/.uv_cache
          export UV_PYTHON_INSTALL_DIR=/workspace/dataset/.uv_python
          export MEGATRON_PATH=/workspace/dataset/Megatron-LM
          bash requirements/install.sh reason

      - name: Megatron SGLang Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-collocated-mg-sgl-rollout-logprobs

      - name: Megatron vLLM Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-collocated-mg-vllm-rollout-logprobs

      - name: Megatron SGLang Pipeline mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-pipeline-mg-sgl-rollout-logprobs

      - name: Megatron vLLM Pipeline mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-pipeline-mg-vllm-rollout-logprobs

      - name: FSDP SGLang Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-collocated-fsdp-sgl-rollout-logprobs

      - name: FSDP vLLM Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-grpo-collocated-fsdp-vllm-rollout-logprobs

      - name: Clean up
        run: |
          rm -rf .venv
          uv cache prune

  reason-qwen-importance-sampling-test:
    runs-on: reason
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create reason environment
        run: |
          unset UV_DEFAULT_INDEX
          export UV_PATH=/workspace/dataset/.uv
          export UV_LINK_MODE=symlink
          export UV_CACHE_DIR=/workspace/dataset/.uv_cache
          export UV_PYTHON_INSTALL_DIR=/workspace/dataset/.uv_python
          export MEGATRON_PATH=/workspace/dataset/Megatron-LM
          bash requirements/install.sh reason
  
      - name: Megatron SGLang Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-is-collocated-mg-sgl

      - name: Clean up
        run: |
          rm -rf .venv
          uv cache prune

  reason-qwen-reinforcepp-test:
    runs-on: reason
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create reason environment
        run: |
          unset UV_DEFAULT_INDEX
          export UV_PATH=/workspace/dataset/.uv
          export UV_LINK_MODE=symlink
          export UV_CACHE_DIR=/workspace/dataset/.uv_cache
          export UV_PYTHON_INSTALL_DIR=/workspace/dataset/.uv_python
          export MEGATRON_PATH=/workspace/dataset/Megatron-LM
          bash requirements/install.sh reason
  
      - name: Megatron SGLang Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-1.5b-reinpp-collocated-mg-sgl

      - name: Clean up
        run: |
          rm -rf .venv
          uv cache prune

  coding-online-rl-qwen-ppo-test:
    runs-on: reason
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create reason environment
        run: |
          unset UV_DEFAULT_INDEX
          export UV_PATH=/workspace/dataset/.uv
          export UV_LINK_MODE=symlink
          export UV_CACHE_DIR=/workspace/dataset/.uv_cache
          export UV_PYTHON_INSTALL_DIR=/workspace/dataset/.uv_python
          export MEGATRON_PATH=/workspace/dataset/Megatron-LM
          bash requirements/install.sh reason

      - name: Install dependencies
        run: |
          source .venv/bin/activate
          uv pip install httpx asyncio fuzzywuzzy

      - name: SGLang Pipeline mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/coding_online_rl/run.sh

      - name: Clean up
        run: |
          rm -rf .venv
          uv cache prune

  rstar2-qwen-grpo-test:
    runs-on: reason
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create reason environment
        run: |
          unset UV_DEFAULT_INDEX
          export UV_PATH=/workspace/dataset/.uv
          export UV_LINK_MODE=symlink
          export UV_CACHE_DIR=/workspace/dataset/.uv_cache
          export UV_PYTHON_INSTALL_DIR=/workspace/dataset/.uv_python
          export MEGATRON_PATH=/workspace/dataset/Megatron-LM
          bash requirements/install.sh reason

      - name: Clone code-judge
        uses: actions/checkout@v5
        with:
          repository: 0xWJ/code-judge.git
          path: code-judge

      - name: Install dependencies
        run: |
          source .venv/bin/activate
          apt-get update -y && apt-get install redis -y
          uv pip install -r code-judge/requirements.txt
          uv pip install -e code-judge
          uv pip install math_verify
          redis-server --daemonize yes --protected-mode no --bind 0.0.0.0
          tmux new-session -d -s server \
          'cd code-judge && \
              MAX_EXECUTION_TIME=4 \
              REDIS_URI="redis://$MASTER_ADDR:6379" \
              RUN_WORKERS=0 \
              uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 16 \
              2>&1 | tee server.log' 
          tmux new-session -d -s worker \
          'cd code-judge && \
              MAX_EXECUTION_TIME=4 \
              REDIS_URI="redis://$MASTER_ADDR:6379" \
              MAX_WORKERS=64 \
              python run_workers.py \
              2>&1 | tee worker.log'

      - name: SGLang Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/agent/run_tool.sh rstar2-qwen2.5-1.5b-megatron

      - name: Clean up
        run: |
          rm -rf .venv
          uv cache prune

  qwen-vl-grpo-test:
    runs-on: reason
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create reason environment
        run: |
          unset UV_DEFAULT_INDEX
          export UV_PATH=/workspace/dataset/.uv
          export UV_LINK_MODE=symlink
          export UV_CACHE_DIR=/workspace/dataset/.uv_cache
          export UV_PYTHON_INSTALL_DIR=/workspace/dataset/.uv_python
          export MEGATRON_PATH=/workspace/dataset/Megatron-LM
          bash requirements/install.sh reason

      - name: FSDP SGLang Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-vl-3b-grpo-collocated-fsdp-sgl

      - name: FSDP vLLM Collocated mode
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen2.5-vl-3b-grpo-collocated-fsdp-vllm

      - name: Clean up
        run: |
          rm -rf .venv
          uv cache prune

  agent-rl-qwen-ppo-test:
    runs-on: reason
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create reason environment
        run: |
          unset UV_DEFAULT_INDEX
          export UV_PATH=/workspace/dataset/.uv
          export UV_LINK_MODE=symlink
          export UV_CACHE_DIR=/workspace/dataset/.uv_cache
          export UV_PYTHON_INSTALL_DIR=/workspace/dataset/.uv_python
          export MEGATRON_PATH=/workspace/dataset/Megatron-LM
          bash requirements/install.sh reason

      - name: Megatron SGLang Pipeline mode
        timeout-minutes: 10
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/agent/run_tool.sh

      - name: Clean up
        run: |
          rm -rf .venv
          uv cache prune

  qwen-moe-grpo-test:
    runs-on: reason
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create reason environment
        run: |
          unset UV_DEFAULT_INDEX
          export UV_PATH=/workspace/dataset/.uv
          export UV_LINK_MODE=symlink
          export UV_CACHE_DIR=/workspace/dataset/.uv_cache
          export UV_PYTHON_INSTALL_DIR=/workspace/dataset/.uv_python
          export MEGATRON_PATH=/workspace/dataset/Megatron-LM
          bash requirements/install.sh reason

      - name: MoE sequential MLP Collocated mode 
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen3-moe-2.5b-collocated-mg-sgl-sequentialmlp
          rm -rf /workspace/results/grpo-moe-CI-test-seqmlp-2.5b/converted_ckpts/
      
      - name: MoE TeGroupgemm MLP Collocated mode 
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen3-moe-2.5b-collocated-mg-sgl-tegroupgemm
          rm -rf /workspace/results/grpo-moe-CI-test-seqmlp-2.5b/converted_ckpts/

      - name: MoE model parallel ep test 
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen3-moe-2.5b-collocated-mg-sgl-ep-test
          rm -rf /workspace/results/grpo-moe-CI-test-seqmlp-2.5b/converted_ckpts/
        
      - name: MoE model parallel tpe test 
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen3-moe-2.5b-collocated-mg-sgl-tpe-test
          rm -rf /workspace/results/grpo-moe-CI-test-seqmlp-2.5b/converted_ckpts/
      
      - name: MoE model parallel tp test 
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen3-moe-2.5b-collocated-mg-sgl-tp-test
          rm -rf /workspace/results/grpo-moe-CI-test-seqmlp-2.5b/converted_ckpts/

      - name: qwen3 dense model parallel tp test 
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/reasoning/run.sh qwen3-4b-collocated-mg-sgl-test
          rm -rf /workspace/results/grpo-qwen3-4b-CI-test/converted_ckpts/

      - name: Clean up
        run: |
          rm -rf .venv
          uv cache prune
