name: Embodied End-to-End Tests

on:
  workflow_call:

jobs:
  embodied-openvla-maniskill-libero-test:
    runs-on: embodied
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create embodied environment
        run: |
          bash requirements/install.sh embodied --model openvla --env maniskill_libero

      - name: ManiSkill PPO test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/embodied/run.sh maniskill_ppo_openvla

      - name: Clean up
        run: |
          rm -rf .venv
          
  embodied-openvlaoft-maniskill-libero-test:
    runs-on: embodied
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create embodied environment
        run: |
          bash requirements/install.sh embodied --model openvla-oft --env maniskill_libero

      - name: ManiSkill GRPO test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          cp -r /workspace/dataset/maniskill_assets/assets ${REPO_PATH}/rlinf/envs/maniskill/
          bash tests/e2e_tests/embodied/run.sh maniskill_grpo_openvlaoft

      - name: Libero-Goal GRPO test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/embodied/run.sh libero_goal_grpo_openvlaoft

      - name: Libero-130 GRPO test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/embodied/run.sh libero_130_grpo_openvlaoft

      - name: Clean up
        run: |
          rm -rf .venv

  embodied-openvlaoft-behavior-test:
    runs-on: embodied
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create embodied environment
        run: |
          bash requirements/install.sh embodied --model openvla-oft --env behavior

      - name: BEHAVIOR-OpenVLA-OFT test
        timeout-minutes: 30
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          export OMNIGIBSON_DATA_PATH=/workspace/dataset/behavior-datasets
          export ISAAC_PATH=/workspace/dataset/isaac-sim
          bash tests/e2e_tests/embodied/run.sh behavior_ppo_openvlaoft

      - name: Clean up
        run: |
          rm -rf .venv

  embodied-openpi-maniskill-libero-test:
    runs-on: embodied
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create embodied environment
        run: |
          bash requirements/install.sh embodied --model openpi --env maniskill_libero

      - name: Libero-Spatial PPO test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/embodied/run.sh libero_spatial_ppo_openpi

      - name: Libero-Spatial PPO Pi05 test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/embodied/run.sh libero_spatial_ppo_openpi05

      - name: Clean up
        run: |
          rm -rf .venv

  embodied-openpi-metaworld-test:
    runs-on: embodied
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create embodied environment
        run: |
          bash requirements/install.sh embodied --model openpi --env metaworld

      - name: Metaworld PPO test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source .venv/bin/activate
          bash tests/e2e_tests/embodied/run.sh metaworld_50_ppo_openpi

      - name: Clean up
        run: |
          rm -rf .venv